.row {
  max-width: 30vw;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  background-color: #b71110;
  color: white;
}

@media (max-width: 576px) {
  .row {
    max-width: 100vw;
  }
}

.small-text {
  font-size: 12px;
}

.App{
  width: 100vw;
  background-color: #b71110;
  color: white;

}