.banner-row {
  max-width: 100vw;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  color: white;
  text-align: center;
  background-color: #b71110;
}

@media (max-width: 576px) {
  .row {
    max-width: 100vw;
  }
}

.small-text {
  font-size: 12px;
}
