body {
  font-family: raleway-semibold, raleway, sans-serif;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 700;
}

.events-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.event-row{
  margin-top: 10px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}

.space{
  background-color: white;
}
.card {
  margin: 0 10px 20px;
  padding: 5px;
  
}
